@import "reset.less";

body{
	font-family: 'Open Sans Condensed', sans-serif;
	text-align: center;
	background: #fff;
	margin:0;
	font-size:10px;
}

.ovfh{
	overflow: hidden;
}

.content{
	width:600px;
	margin:0 auto;
}

header{
	h1{ 
		color:#3F3F3F;
		font-size:3em;
		padding:20px 0;
		font-weight: normal;
	}
}

.form{
	h2{
		font-size:2em;
		color:#129E84;
		margin:10px 0 20px;
		font-weight: normal;
	}
	i{
		font-size:1.8em;
		margin:0 10px;
		color:#129E84;
	}
	input{
		font-family: 'Open Sans Condensed', sans-serif;
		border:1px solid #129E84;
		font-size:1.6em;
	}
	.input_time{
		width:60px;
		text-align: center;
	}
	.btAdd{
		font-family: 'Open Sans Condensed', sans-serif;
		background: #129E84;
		color:#fff;
		border:none;
		font-size:1.6em;
	}
}

.listExercises{
	.titleList{
		-webkit-border-top-left-radius: 10px;
		-webkit-border-top-right-radius: 10px;
		-moz-border-radius-topleft: 10px;
		-moz-border-radius-topright: 10px;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		border:1px solid #000;
		margin-top:30px;
	}
	.row{
		float:left;
		width:100%;
		border-left: 1px solid #000;
		border-right: 1px solid #000;
		border-bottom: 1px solid #000;
		padding:10px 0;
		div{
			float:left;
			width:100px;
			text-align:center;
			font-size: 14px;
		}
		.time{
			
		}
		.type{
			width:200px;
		}
		.date{
			width:200px;
		}
		.delete{
			color:#B95E70;
			cursor: pointer;
		}
	}
}
.result{
	h3{
		font-size:2em;
		color:#B95E70;
		font-weight: normal;
		margin:10px 0;
		span{
			font-weight: bold;
		}
	}
}