@import "reset.less";

body{
	font-family: 'Open Sans Condensed', sans-serif;
	text-align: center;
	background: #fff;
	margin:0;
}

.ovfh{
	overflow: hidden;
}

.content{
	width:800px;
	margin:0 auto;
}