<!DOCTYPE html>
<html ng-app>
<head lang="pt-br">
	<meta charset="utf-8">
	<title>Lista de Exercícios</title>

	<link rel="stylesheet" href="css/estilo.css">
	<link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700,300italic' rel='stylesheet' type='text/css'>

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

</head>
<body ng-controller="mainController">

	<header>
		<div class="content">
			<h1> Log de Exercícios</h1>
		</div>
	</header>

	<section>
		<div class="form content">
			<h2>Adicionar Exercício</h2>
			<form class="form-inline" name="formContato">		
				<i class="fa fa-clock-o"></i> <input required type="number" class="input_time" maxlength="2" placeholder="Tempo" type="text" ng-model="form.tempo" ng-required="true">
				<i class="fa fa-flag"></i>
				<select name="tipoexercicio" ng-model="form.tipo">
					<option ng-selected="selected">Corrida</option>
					<option>Natação</option>
					<option>Bicicleta</option>
					<option>Boxe</option>
				</select>
			  	<i class="fa fa-calendar"></i> <input placeholder="Data" type="text" ng-model="form.data" ng-required="true">
			    <button class="btAdd" ng-click="addExercise()" ng-disabled="formContato.$invalid">Add</button>

			    <span ng-hide="formContato.tempo.$valid">Preencha o seu tempo de exercício !</span>
			    <span ng-hide="formContato.data.$valid">Preencha a data que o exercício foi feito!</span>
	    	</form>
		</div>
	</section>

	<section>
		<div class="content listExercises">
			<div class="row titleList">
				<div class="time">Tempo</div>
				<div class="type">Tipo</div>
				<div class="date">Data</div>
				<div class="delete">Excluir</div>
			</div>
			<div class="row" ng-repeat="exercise in dataExercises">
				<div class="time"><span data-ng-bind="exercise.tempo"></span></div>
				<div class="type"><span data-ng-bind="exercise.tipo"></span></div>
				<div class="date"><span data-ng-bind="exercise.data"></span></div>
				<div class="delete"><a ng-click="deleteExercise(exercise)"><i class="fa fa-minus-square-o"></i></a></div>
			</div>
		</div>
	</section>

	<div class="content result ovfh">
		<h3>Você já fez <span data-ng-bind="totalHours"></span> horas de exercícios</h3>
	</div>


</body>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
<script src="js/controllers.js"></script>

</html>