<!DOCTYPE html>
<html ng-app>
<head>
	<meta charset="utf-8">
	<title>Lista de Exercícios</title>

	<link rel="stylesheet" href="css/estilo.css">
	<link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700,300italic' rel='stylesheet' type='text/css'>

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

</head>
<body ng-controller="mainController">

	<header>
		<div class="content header">
			<h1> Log de Exercícios</h1>
		</div>
	</header>

	<section>
		<div class="form content ovfh">
			<h2>Adicionar Exercício</h2>
			<form class="form-inline" name="formContato">		
				<i class="fa fa-clock-o"></i> <input required type="number" onkeypress="return SomenteNumero(event);" name="tempo" class="input_time" maxlength="2" placeholder="Tempo" type="text" min=1 ng-model="form.tempo" ng-required="true">
				<i class="fa fa-flag"></i>
				<select name="tipoexercicio" name="tipo" ng-model="form.tipo" >
					<option ng-selected="Corrida">Corrida</option>
					<option>Natação</option>
					<option>Bicicleta</option>
					<option>Boxe</option>
				</select>
			  	<i class="fa fa-calendar"></i> <input type="date" placeholder="Data" name="data" type="text" ng-model="form.data" ng-required="true">
			    <button class="btAdd" ng-click="addExercise()" ng-disabled="formContato.$invalid">Add</button>

			    <span class="error ovfh" ng-hide="formContato.tempo.$valid">Preencha o seu tempo de exercício !</span>
			    <span class="error ovfh" ng-hide="formContato.data.$valid">Preencha a data de exercício !</span>
	    	</form>
		</div>
	</section>

	<section>
		<div class="content listExercises ovfh">
			<div class="row titleList">
				<div class="time order" ng-click="Order('tempo')"><i class="fa fa-sort"></i>Tempo</div>
				<div class="type order" ng-click="Order('tipo')"><i class="fa fa-sort"></i>Tipo</div>
				<div class="date order" ng-click="Order('data')"><i class="fa fa-sort"></i>Data</div>
				<div class="delete">Excluir</div>
			</div>
			<div class="row" ng-repeat="exercise in dataExercises | orderBy:sort:reverse" ng-class-even="'row-grain'">
				<div class="time"><span data-ng-bind="exercise.tempo"></span></div>
				<div class="type"><span data-ng-bind="exercise.tipo"></span></div>
				<div class="date"><span data-ng-bind="exercise.data"></span></div>
				<div class="delete"><a ng-click="deleteExercise(exercise)"><i class="fa fa-minus-square-o"></i></a></div>
			</div>
			<div class="row" ng-show="dataExercises.length === 0">
				<p>Nenhum exercício incluído até o momento !</p>
			</div>
		</div>
	</section>

	<div class="content result ovfh">
		<h3>Você já fez <span data-ng-bind="totalHours"></span> horas de exercícios</h3>
	</div>


</body>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
<script src="js/controllers.js"></script>
<script src="js/functions.js"></script>

</html>